.not_found_page {
    text-align: center;
    height: 80vh;
}

.not_found_text {
    font-size: 18px; 
    padding-top: 60px;
}

.not_found_image {
    padding-top: 20px;
    height: 500px;
    width: 500px;
}