.footer {
    background: linear-gradient(to bottom right, rgb(167, 114, 213), pink, #e5b371); 
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(93, 21, 74);
}

.references {
    margin-left: 70%;
    max-width: 300px;
    font-size: 10px;
    text-align: end;
}

.references a {
    font-size: 12px;
}

.logo {
    color: white; 
    font-weight: bold;
    text-transform: uppercase;
    font-size:  20px;
    text-align: center;
  }