.wrapper_for_login_form {
    height: 74vh;   
}

.login_form {
    margin: 0 auto;
    height: 390px;
    width: 450px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 4px rgba(12, 39, 66, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_login {
    margin-top: 25px;
    height: 40px;
    width: 350px;
    border: 2px solid rgba(13, 62, 114, 0.2);
    border-radius: 5px; 
}

.input_login :active, :hover, :focus {
    outline: 0;
}

.text_with_link {
    margin: 30px 130px 10px;
}

.vaidation_error {
    color: red; 
    font-size: 16px;
}